<li class="card_small">
    <h1 class="card_title"><%= restaurant.name %></h1>
    <a href="/restaurants/<%=restaurant._id%>/menus">
      <button>Pogledaj</button>
    </a>
    <a href="/restaurants/<%=restaurant._id%>/delete">
      <button>Izbrisi</button>
    </a>
  </li>
  